* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: verdana;
}

:root {
    --bgColor: #0d263b;
    --btnColor: #0061df;
    --pColor: #696969;
    --textColor: #0d263b;
    --white: #fff;
}


/* title classi global titlelar uchun style */

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0d263b;
    text-align: center;
}


/* describ classi global describ uchun style */

.describ {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    text-align: center;
    margin-bottom: 32px;
}


/* center elementlarni center qilish uchun global class */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}